@import (once) "var";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@header-height: 200px;
@nav-height: 60px;

//*-- 공용 *--//
body {
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Nanum Barun Gothic", "Malgun Gothic", "돋움", Dotum, sans-serif;
  color: @font-primary;
  font-weight: 300;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.1rem;
  font-weight: 600;
  color: @primary;
}
img.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
button.big {
  width: 5.4rem;
  height: 2.7rem;
  border: none;
  border-radius: 5rem;
  &:hover {
    background: lighten(@primary, 8%);
    transition: @background-transition;
  }
}

//*-- 네비게이션 *--//
nav.nav-main {
  //position: absolute;
  //z-index: 999 !important;
  //height: @nav-height;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: none;

  &.nav-transparent {
    background: transparent;
    transition: background-color 1s ease;
  }

  #logo-container {
    img {
      width: 160px;
      margin-top: 7px;
    }
  }
  ul#nav-top {
    li.user-info {
      img {
        width: 30px;
        vertical-align: text-bottom;
        margin-left: 5px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }
  }
  ul#nav-mobile {
    li.user-info {
      img {
        width: 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
  ul#account-dropdown {
    top: @nav-height !important;
  }
  &.nav-dark { //네비게이션 흑화 버전
    a, ul a {
      color : @font-primary;
    }
  }
  &.nav-light { //네비게이션 천사 버전
    a, ul a {
      color : white;
    }
  }
}

//*-- 네비게이션 검색 *--//
.search-mobile {
  margin-right: 3px;
}
.search-box-mobile {
  display: none;
  float: none !important;
  margin-left: 40px;
  margin-right: 60px;
  input[name='query'] {
    position: relative;
    //background: rgb(247, 247, 247);
    color: @font-primary;
  }
  i {
    position: relative;
    cursor: pointer;
    top: -71px;
    float: right;
    font-size: 1.4rem !important;
    color: @mid-gray;
  }
}
ul.search-ul-large {
  a:hover {
    background-color: transparent;
  }

  li.search-box {
    display: none;
    input {
      color: @font-primary;
    }
  }
  li.close {
    display: none;
    cursor: pointer;
    i {
      margin-left: -1.5rem;
      font-size: 1.4rem;
      color: @mid-gray;
    }
  }
}
ul.search-info {
  list-style: disc;
  margin: -1rem 0 0 3.5rem;
  display: inline-block;
  text-align: left;
  li {
    list-style: disc;
  }
}

//*-- 페이지 내부 섹션 *--//
section.section {
}

//*-- 꾸밈 요소 *--//
.tag-box {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 3px;
  margin-right: 3px;
  color: white;
  background: @light-gray-2;
  a {
    color: white;
    font-weight: lighter;
    font-size: 0.9rem;
  }
}


//*-- 푸터 *--//
footer.page-footer {
  background: #4a4a4a;
}

//*-- Materializecss override *--//
