@import (once) "var";

/*-- 최상단 사진, 모임 제목 --*/
section.title-section {
  margin-top: -130px;
  .image-container {
    img {
      width: 200px;
      height: 200px;
    }
    @media @l-m, @l-l {
      display: inline-block;
    }
  }
  .meta-container {
    h2 {

    }
    @media @l-m, @l-l {
      display: inline-block;
      vertical-align: top;
      margin: 2px 0 0 15px;
    }
  }
}

/*-- 밋업 상세 --*/
div.meetup-detail {
  .button-container {
    margin-top: -60px;
    margin-left: 218px;
    button.join {
      width: 13rem;
      background: @primary;
      &:before {
        content: "참여하기";
      }
      &.joined {
        background: @warning;
        &:before {
          content: "참여 신청함";
        }
      }
    }
    button.like {
      background: transparent;
      border: none;
      margin-left: 0.6rem;
      i {
        color: @mid-gray;
        font-size: 2.5rem;
        vertical-align: middle;
        &:before {
          content: "favorite_border";
        }
      }
      &.liked {
        i {
          color: @warning;
          &:before {
            content: "favorite";
          }
        }
      }
    }
  }
}

/*-- 참여자/관심자 --*/
div.meetup-detail {
  div.description {
    background: @light-gray;
    padding: 1.4rem;
    margin-top: 1.4rem;
    border-radius: 3px 3px 0 0;
    .info {
      div {
        font-weight: 500;
        i {
          vertical-align: middle;
          margin: 0 0.2rem 0.4rem 0;
        }
      }
    }
  }
  div.author {
    border: 1.5px solid @light-gray;
    padding: 0.5rem 0.7rem;
    border-radius: 0 0 3px 3px;
    text-align: right;
    p {
      display: inline-block;
      vertical-align: bottom;
      font-weight: 500;
    }
  }
}


/*-- 참여자/관심자 --*/
.users-container {
  margin-bottom: 1.5rem;
  .chip {
    background: @light-gray;
  }
}

/*-- 댓글 --*/
.comments-container {
  .comments-header {
    span.length {
      margin-left: 0.1rem;
      vertical-align: super;
      color: @mid-gray;
    }
  }
  form#comment {
    .wrapper {
      display: -webkit-flex;
      display: flex;
      .textarea {
        -webkit-flex: 1;
        flex: 1;
        padding: 0 1.3rem;
        textarea {
          height: 3rem;
          padding-left: 1rem;
          border: 1px solid @material-gray;
          border-radius: 3rem;
          word-wrap: break-word;
          resize: none;
          &:focus {
            outline: none !important;
            border: none;
            box-shadow: 0 0 10px rgba(54, 79, 107, 0.28);
          }
        }
      }
      input {
        width: 5.4rem;
        height: 2.7rem;
        background: @primary;
        color: white;
        border: none;
        border-radius: 5rem;
        &:hover {
          background: lighten(@primary, 8%);
          transition: @background-transition;
        }
      }
    }
  }
  div.comment-list {
    div.comment {
      display: -webkit-flex;
      display: flex;
      margin-top: 0.75rem;
      div.comment-header {
        -webkit-flex: 1;
        flex: 1;
        padding: 0 1.3rem;
        line-height: 0.8rem;
        .nickname {
          display: inline-block;
          font-weight: 500;
        }
        .date {
          display: inline-block;
          color: @mid-gray;
        }
        .comment-text {

        }
      }
    }
  }
  .pagination {
    display: none;

  }
}


/*-- 다음 지도 --*/
#map {
  width: 100%;
  height: 300px;
}
#target {
  width: 345px;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
#pac-input:focus {
  border-color: #4d90fe;
}
.pac-container {
  font-family: Roboto;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}



