@import (once) "var";

div.product-card {
  .product-img {
    width: 100%;
  }
  h3 {
    font-size: 1rem;
    color: @font-primary;
    margin: 0;
  }
  .price {
    color: @secondary;
        font-weight: bolder;
  }
  .mall-name {
    img {
      width: 1.2rem;
    }
        margin: 3px 0;
    color: @mid-gray;

  }

}