@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Nanum Barun Gothic", "Malgun Gothic", "돋움", Dotum, sans-serif;
  color: #404040;
  font-weight: 300;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
  display: inline-block;
}
h4 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #364F6B;
}
img.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
button.big {
  width: 5.4rem;
  height: 2.7rem;
  border: none;
  border-radius: 5rem;
}
button.big:hover {
  background: #446386;
  transition: background 0.3s ease;
}
nav.nav-main {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: none;
}
nav.nav-main.nav-transparent {
  background: transparent;
  transition: background-color 1s ease;
}
nav.nav-main #logo-container img {
  width: 160px;
  margin-top: 7px;
}
nav.nav-main ul#nav-top li.user-info img {
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
nav.nav-main ul#nav-mobile li.user-info img {
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
nav.nav-main ul#account-dropdown {
  top: 60px !important;
}
nav.nav-main.nav-dark a,
nav.nav-main.nav-dark ul a {
  color: #404040;
}
nav.nav-main.nav-light a,
nav.nav-main.nav-light ul a {
  color: white;
}
.tag-box {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 3px;
  margin-right: 3px;
  color: white;
  background: #d1d1d1;
}
.tag-box a {
  color: white;
  font-weight: lighter;
  font-size: 0.9rem;
}
footer.page-footer {
  background: #4a4a4a;
}
div.product-card .product-img {
  width: 100%;
}
div.product-card h3 {
  font-size: 1rem;
  color: #404040;
  margin: 0;
}
div.product-card .price {
  color: #3FC1C9;
  font-weight: bolder;
}
div.product-card .mall-name {
  margin: 3px 0;
  color: #ABABAB;
}
div.product-card .mall-name img {
  width: 1.2rem;
}
.fb-connect {
  background: #3b5998;
  color: white;
  cursor: pointer;
  text-transform: none;
  width: 15rem;
  padding: 0;
}
.fb-connect:hover {
  background: #3f5277;
}
.fb-connect a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}
.fb-connect a span {
  font-weight: 500;
  margin-right: 0.3rem;
}
div.select-avatar {
  border: 1px dashed #E0E0E0;
  width: 7rem;
  height: 7rem;
  text-align: center;
  cursor: pointer;
}
div.select-avatar i {
  color: #E0E0E0;
  line-height: 7rem;
  font-size: 2.7rem;
}
#image_holder img {
  width: 7rem;
  height: 7rem;
}
