{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
<div class="row">
    {% if request.GET.query %}
        <h3 class="header"><strong>#</strong> {{ request.GET.query }} 모아보기</h3>
        {% if not object_list %}
            <section class="center-block center-align">
                <h5 class="header">검색 결과가 없습니다.</h5>
                <ul class="search-info">
                    <li>단어 철자를 확인해 주세요.</li>
                    <li>띄어쓰기를 다시 해보세요.</li>
                    <li>보다 일반적인 단어로 검색해주세요.</li>
                </ul>
            </section>
        {% endif %}
    {% endif %}
    {% for product in object_list %}
    <div class="col s6 m4 l3">
        <div class="product-card">
            <a href="{{ product.url }}">
                <img class="product-img" src="{{product.thumbnail.url}}"/>
                <div class="info">
                    <h3>{{ product.name|truncatechars:33 }}</h3>
                    <div class="price">{{ product.price|intcomma }}원</div>
                    <div class="mall-name">
                        <img src="{{ product.mall.thumbnail.url }}"/>
                        {{ product.mall.name }}
                    </div>
                </div>
            </a>
            <div class="tag-container">
                {% for tag in product.tags.all %}
                <div class="tag-box"><a href="?query={{ tag }}"># {{ tag }}</a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
