{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
    <div class="row product-order">
        <div class="input-field col s6 m3 right">
            <select class="select-order browser-default">
                <option value="" disabled selected>정렬 방식</option>
                <option value="created">담은순 정렬</option>
                <option value="price-low">낮은 가격순</option>
                <option value="price-high">높은 가격순</option>
                <option value="popular">인기순</option>
            </select>
        </div>
        <div class="input-field col s6 m3 right">
            <select class="select-list browser-default">
                <option value="" disabled selected>필터</option>
                <option value="all">전체</option>
                <option value="favorite">즐겨찾기</option>
                <option value="archive">보관함</option>
            </select>
        </div>
    </div>
    <div class="row product-list">
        {% if request.GET.query %}
            <h3 class="header"><strong>#</strong> {{ request.GET.query }} 모아보기</h3>
            {% if not object_list %}
                <section class="center-block center-align">
                    <h5 class="header">검색 결과가 없습니다.</h5>
                    <ul class="search-info">
                        <li>단어 철자를 확인해 주세요.</li>
                        <li>띄어쓰기를 다시 해보세요.</li>
                        <li>보다 일반적인 단어로 검색해주세요.</li>
                    </ul>
                </section>
            {% endif %}
        {% endif %}
        <section class="product_list_section"></section>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/product.js' %}"></script>
{% endblock %}