{% extends 'base.html' %}

{% block content %}

    {% if form.errors %}
        <p>ID나 비밀번호가 일치하지 않습니다</p>
    {% endif%}

    {% if next %}
        {% if user.is_authenticated %}
            <p>권한이 없는 페이지입니다</p>
        {% else %}
            <p>이 페이지를 보려면 로그인을 해야 합니다</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {%  csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>

            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="로그인" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

{% endblock %}