<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">
<head>
    <!-- env -->
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="language" content="Korean">
    <meta http-equiv="content-language" content="KO">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- title -->
    <title>{% block title %}CARTMANGO{% endblock %}</title>
    <meta name="title" content="{% block meta_title %}CARTMANGO{% endblock %}"/>
    <meta name="description"
          content="{% block meta_description %}모든 장바구니는 카트망고로 향한다.CARTMANGO{% endblock %}"/>
    <meta name="keywords"
          content="{% block meta_keywords %}쇼핑, shopping, cart{% endblock %}">
    {% block meta_extra %}{% endblock %}

    <!-- og -->
    <meta property="og:site_name" content="CARTMANGO"/>
    <meta property="og:type" content="{% block og_type %}website{% endblock %}"/>
    <meta property="og:title" content="{% block og_title %}CARTMANGO{% endblock %}"/>
    <meta property="og:url" content="{% block og_url %}{{ SITE_URL }}{% endblock %}"/>
    <meta property="og:description"
          content="{% block og_description %}모든 장바구니는 카트망고로 향한다.CARTMANGO{% endblock %}"/>
    <meta property="og:image"
          content="{% block og_image %}{{ SITE_URL }}{% static 'img/test.jpg' %}{% endblock %}"/>

    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="{% block tw_url %}{{ SITE_URL }}{% endblock %}"/>
    <meta name="twitter:title" content="{% block tw_title %}CARTMANGO{% endblock %}"/>
    <meta name="twitter:description"
          content="{% block tw_description %}모두를 위한 장바구니, CARTMANGO{% endblock %}"/>
    <meta name="twitter:image:src"
          content="{% block tw_image %}{{ SITE_URL }}{% static 'img/test.jpg' %}{% endblock %}"/>

    <!-- favicon & app icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon.ico/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon.ico/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon.ico/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon.ico/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon.ico/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon.ico/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon.ico/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon.ico/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon.ico/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicon.ico/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.ico/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon.ico/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.ico/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon.ico/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/favicon.ico/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    {% block base-css %}
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    {% block page-css %}{% endblock %}
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{% static 'components/html5shiv/dist/html5shiv.js' %}"></script>
    <![endif]-->
</head>
<body>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1595414487419363',
            xfbml      : true,
            version    : 'v2.5'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    //    친구 얼굴 보여지는 페이스북 로그인
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1595414487419363";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{% block body %}
    {% block nav-main %}
        <header>
            <ul id="account-dropdown" class="dropdown-content">
                <li><a href="#!">즐겨찾기</a></li>
                <li class="divider"></li>
                <li><a href="#!">설정</a></li>
                <li><a href="#!">도움말</a></li>
                <li class="divider"></li>
                <li><a href="/logout">로그아웃</a></li>
            </ul>
            <div class="navbar-fixed">
                <nav class="nav-main nav-dark nav-transparent" role="navigation">
                    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="{% static 'img/logo.png' %}"/></a>
                        <ul class="search-ul-large right hide-on-med-and-down">
                            <li class="search">
                                <a href="#" class="search-large">
                                    <i class="material-icons">&#xE8B6;</i>
                                </a>
                            </li>
                            <li class="search-box">
                                <div class="search-container">
                                    <form action="{% url 'product_list' slug=user.email %}" method="get">
                                        <input name="query" type="text" placeholder="검색"/>
                                        <input class='submit hide' type="submit"/>
                                    </form>
                                </div>
                            </li>
                            <li class="close">
                                <i class="material-icons">&#xE5CD;</i>
                            </li>
                        </ul>
                        <ul id="nav-top" class="right account-large hide-on-med-and-down">
                            {% if user.is_authenticated %}
                                <li class="user-info"><a class="dropdown-button" href="#!" data-activates="account-dropdown">
                                    {{ user.nickname }}<img src="{{ user.avatar_url }}"/>
                                    <i class="material-icons right">arrow_drop_down</i></a></li>
                            {% else %}
                                <li><a href="/signup">회원가입</a></li>
                                <li><a href="/login">로그인</a></li>
                            {% endif %}
                        </ul>
                        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                        <a href="#" class="search-mobile right hide-on-large-only"><i class="material-icons">&#xE8B6;</i></a>
                        <div class="search-box-mobile hide-on-large-only">
                            <div class="search-container">
                                <form action="{% url 'product_list' slug=user.email %}" method="get">
                                    <input name="query" type="text" placeholder="제품 검색"/>
                                    <i class="material-icons">&#xE5CD;</i>
                                    <input class='submit hide' type="submit"/>
                                </form>
                            </div>
                        </div>

                    </div>
                </nav>
            </div>
            <ul id="slide-out" class="side-nav fixed">
                <li><a href="{% url 'product_list' slug=user.email %}">전체보기</a></li>
                <li><div class="divider"></div></li>
                <li><a href="#!">즐겨찾기</a></li>
                <li><a href="#!">보관함</a></li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header active">내 리스트</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="#!">+ NEW</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><div class="divider"></div></li>
                {% if user.is_authenticated %}
                    <li><a href="#!">설정</a></li>
                {% else %}
                    <li><a href="/signup">회원가입</a></li>
                    <li><a href="/login">로그인</a></li>
                {% endif %}

            </ul>
        </header>
    {% endblock %}
    {% block outer-container %}
    {% endblock %}
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% block page-footer %}
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <div class="fb-login-button" data-max-rows="1" data-size="icon" data-show-faces="true" data-auto-logout-link="false"></div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <a href="#!">Terms</a>
                    <a href="#!">Security</a>
                    <a href="#!">Status</a>
                    <a href="#!">Help</a>
                    <div class="right">© 2016 CARTMANGO</div>
                </div>
            </div>
        </footer>
    {% endblock %}
{% endblock %}
{% block base-js %}
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block js %}{% endblock %}
{% endblock %}
</div>
</body>
</html>
