{% extends 'base.html' %}
{% load staticfiles %}
{% block outer-container %}
    {#<h2>살까 말까 할 때는 담으세요.</h2>#}
    {#<h4>모두를 위한 장바구니, 카트망고입니다.</h4>#}
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'img/home1.jpg' %}"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Parallax</h2>
            <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'img/home2.jpg' %}"></div>
    </div>
{% endblock %}